body{
    font-family: 'Rubik', sans-serif;
}

.image-flex{
    display: flex;
    width: 400px;
    height:300px;
    border-radius: 20px;
    background-position-x: 237px;
    background-position-y: 369px;
    background-color: #ffd7ab;
    justify-content: center;
    float: left;
    margin-left: 72px; /* as per mock-up specs*/
    margin-top: 80px; /* as per mock-up specs*/
    
 }

 .text-flex{

    display: flex;
    flex-direction: column;
    float: right;
    
 }

 #box1{
     width:458px; /* as per specs */
     height:192px;
     letter-spacing: 5px; /* this I have assumed by looking at the actual mock-up to give the similar effect*/  
     margin-top: 80px;
     margin-right: 62px; /* 638 - 118-458*/
     
 }

 #box2{

    margin-right: 220px;
    width: 300px;
    height: 28px;
    color:#373742;
    font-size: 24px;
    font-family: "Rubik-Medium";
    letter-spacing: 0.0px;
 }

 #box3{
    margin-right: 220px;
    width: 300px;
    height: 24px;
    color:#838383;
    font-size: 20px;
    font-family: "Rubik-Regular";
    letter-spacing: 0.0px;

 }



    

