.Flex_container{
    display: flex;
    background-image: url("https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.Flex_container >div{
    margin: 10px;
    padding: 10px;
    background: none;
    color: white;
    font-weight: bolder;
    border: solid 1px beige;

}
.flex-column{
    margin: 10px;
    padding:10px;
    background-color: #aaaaaaaa;
    display: flex;
    flex-direction: column;
}

.flex-column>div{
    background-image: url("https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    width: 100px;
    height: 50px;
    padding:10px;
    margin: 10px;
    color: #ffffff;
    font-size: 15px;
    
}

.flex-column div:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    background-color: darksalmon;
    width: 45%;
    
}
.Flex_container>div {
    color:gray;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
}
.flex-row{
    display:flex;
    flex-direction: row;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/91M6jliF-vL._SX425_.jpg");
    width: 50%;
    height:500px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    }

    .flex-row:hover{
        opacity: 1.0;
        filter: alpha(opacity=100);
    }

    .flex-row >div{
        Color: White;
        font-weight:border;
        margin: 20px;
        padding: 20px;
        width: 20px;
        height: 30px;
        border-block-start-style: dotted;

    }

    .reverse-row{
        display: flex;
        flex-direction: row-reverse;
        background-color: gray;
        height: 30px;
    }

    .flex-wrap{
        display: flex;
        flex-wrap:wrap;
        background-color: bisque;
    }
    .flex-wrap >div{
        font-weight: bolder;
        text-align: center;
        width: 100px;
        height:100px;
        background-color: lightgray;
        padding:20px;
        margin: 30px;
    }

    .flex_space{
        display: flex;
        flex-wrap:wrap-reverse;
        justify-content: space-between;
        background-color:cornflowerblue;
        width:70%;
        height: 300px;
    }

    .flex_space >div{
        width:70px;
        height: 70px;
        margin : 30px;
        border: whitesmoke 2px double ;
        font-size: medium;
        text-align: center;
    }

    @media (max-width:400px){

        .Flex_container {
            flex-direction: column;
            
        }
    }

    .direction-row {
         display: flex;
         flex-direction: row;
         background-color: beige;
         justify-content: space-between;
         
    }

    .direction-row >div{
        width:70px;
        height: 70px;
        border: black 2px double;
        font-size: medium;
        text-align: center;
        background-color: aqua;

    }