body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.900);
    color:rgba(255, 255, 255, 0.959);
}

.info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.979);
    margin: 1px;
    color:rgba(255, 255, 255, 0.959);
    
}
.outer-wrapper{
    width:100%;
    padding :15px;
    margin-top: 10px;

}
.right-section{
    margin-top:10px;
    
}

i{
    color: rgba(0, 0, 0, 0.938);
    background-color: #ffffff;
    width:15px;
    height:15px;
    padding:7px;
    border-radius: 60px;
    margin-left:20px;
    
}
.inner-info{
    margin-left: 20px;
}

.inner-info p{
    font-size: 12px;
}

.email{
    border-bottom-style: dotted;
    font-size: 12px;
}
.contact-heading{
    font-weight: bold;
    font-size: 16px;
}
.contact{
    display: flex;
    padding: 20px;
}

.label{
    letter-spacing:2px;
    font-size: 12px;
}
.clear-btn{
    background: none;
    outline: none;
    color: #ffffff;
    padding: 10px;
    
}

.btn{
    background-color: #ffffff;
    padding:10px;
    margin-right: 10px;
}

.form{
    padding-top: 10px;
    background-color:rgba(0, 0, 0, 0.979);
    height:100%;
    width:100%;
    
    
}

.input-form{
    
    display: flex;
    flex-direction: column;
    
}
.input-form input{
    width: 150px;
    padding: 10px;
    border:none;
    background:rgba(128, 128, 128, 0.233);
    outline: none;
    padding:15px;
    margin:10px;
}
.outer-input{
    display: flex;
    justify-content:space-around;
    padding:15px;
    margin:10px;
}

.message-form textarea{
    width :300px;
    padding:40px;
    margin:10px;
    border:none;
    background:rgba(128, 128, 128, 0.233);
    outline: none;
    
}

.message-form{
    padding:15px;
    margin:10px;
}

.main-wrapper{
    display: flex;

    height:100%;
    
}
.label{
padding-left: 10px;

}

.button-form{
    padding:15px;
    margin:10px;
    margin-left: 25px;

}

.info:first-of-type{
    padding-top:25px;
  
  }

  .info:last-of-type{
      padding-bottom: 20px;
  }