@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("http://www.gsfdcy.com/data/img/33/1492904-flower-wallpaper.jpg");
  background-size: cover;

}

.Login-box {
  width: 280px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.Login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid mediumvioletred;
  Color:black;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width:80%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: mediumvioletred 2px solid;

}

input{
  border: none;
  outline: none;
  background: none;
  color:black;
  font-size: 18;
  display: inline-block;
  margin: 0, 10px;
}


i{
  width:20px;
  
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid mediumvioletred;
  color:black;
  padding: 5px;
  Font-size:22px;
  cursor: pointer;
   margin-top:15px;
   font-weight: bold;
}
.blank{
  clear: both;
}

