
            .heading{
                background-color: cadetblue;
                Color: white;
                padding: 20px,20px;
                text-align: center;

            }

            body{
                Width:960px;
                margin-left: auto;
                margin-right: auto;
                background-color: whitesmoke;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 15px;
            }

          
            section{
                background-color: lightgray;
                margin-top: 10px;
                padding : 20px;
            }

            
            nav{
                background-color: lightgray;
                padding: 5px;
                margin-top:1px;

            }

            li a{
                color:white;

            }
            
            li{
                display:inline;
                margin-left: 15px;
                margin-right: 15px;
                font-variant: inherit;
                font-size: 20px;
                font-weight: bold;
            }

            table{
                width: 920px;
                background-color: whitesmoke;

            }

            th{
                text-align: left;
                background-color:lightgoldenrodyellow;
            }

            table,th,td{
                border:2px solid cadetblue;
                border-collapse: collapse;
                padding: 5px;
                
            }

            td:nth-child(odd){
                font-weight: bold;
            }

            td:nth-child(even){
                font-style: italic;
            }

            footer{
                background-color: lightgray;
                margin-top: 10px;
                padding : 20px;
            }


        