
/*@import url(//db.onlinewebfonts.com/c/0eb9f62b8aa4adda0488eb1b13758105?family=LibertadW00SC-Medium);
@import url(//db.onlinewebfonts.com/c/79e4b7c276ed702172d07917c2cce802?family=LibertadW00SC-Book);
@import url(//db.onlinewebfonts.com/c/c3054c1eafcc854417fb68b3ae1d8c0d?family=LibertadW00SC-Regular);*/

/* This is css sestion for apartment assignemnt*/
.date{
    font-family:LibertadW00SC-Book sans-serif;
    color:#222222;
    font-size: 17px;
}

.apartment{
    position: relative;
    display: inline-block;
    border-radius: 4px;
    border:#979797;
    border-style:inset;
    min-width:272px; /* as per specs*/
    height: 309px; /* as per specs*/
    

}

.rent{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left:19px; /* This is 16 px because specs said 19px- padding of 3px for width*/
    bottom:86px; /* bottom is 85 because 309- [176-34(height of div) - 14]*/
    letter-spacing: 0.0px;
    color:#ffffff;
    font-size: 28px;
    width:52px;
    height:33px;
    
}

.room{
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    color:#1e2d52;
    letter-spacing: 0.0px;
    font-size: 17px;
    max-width: 160px;
    height: 23px;
    padding-left: 19px; /* as per specs*/
    
   
}

.date{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    letter-spacing: 0.0px;
    color:#222222;
    font-weight: bold;
    padding-left: 19px;
   
}

.shadow-block{
    display: block;
    width: 100%;
       float: left;
        border: 1px solid #88888880;
        margin: 0 5px;
        padding: 10px;
        box-shadow: 0 0 10px #88888880;
}

.blank{
    clear: both;
    padding-top: 20px;
}


/* This is css for 2nd assignemnt*/



.boxes{
    width: 80%;
        float: left;
        border: 1px solid #88888880;
        margin: 0 5px;
        padding: 5px;
        box-shadow: 0 0 10px #88888880;
}



#box1{
    width:45%;
    float: left;
    border-radius: 20px;
    width:400px;
    height:300px;

}

#box2{
    width:458px;
    min-height: 192px;
    float:left;
    letter-spacing: 5px;
    font-size: 24px;
    padding-left: 118px; 
    
}

#box3{
    
    position: absolute;
    right:0;
    left:430px;
    bottom:-50%;
    font-size: 24px;
    font-family: "Rubik-medium";
    letter-spacing: 0.0px;
    max-width: 300px;
    min-height:28px;
    padding-left: 118px;
    
}

#box4{
    
    position: absolute;
    right:0;
    left: 430px;
    bottom:-60%;
    max-width: 300px;
    min-height:24px;
    font-size: 20px;
    font-family: "Rubik-regular"; 
    letter-spacing: 0.0px;
    padding-left: 118px;
} 
/* another way to do the same assignemnt*/

.left-box{
    float: left;
   width:45%;
   
}

.left-box .image {
    
    max-width:400px;
    height:300px;
    border-radius: 20px;
}

.right-box{
    float: right;
    width: 45%;
    margin-right: 70px;
}

.right-box >span{
padding-bottom: 30px;
margin-bottom: 30px;

}
.right-box .text1{
    width:458px; /* as per specs */
     height:192px;
     letter-spacing: 5px; /* this I have assumed by looking at the actual mock-up to give the similar effect*/  
     margin-top: 80px;
     margin-right: 62px; /* 638 - 118-458*/
     margin-bottom: 100px;
     padding-bottom: 100px;

}

.right-box .name{
    margin-right: 220px;
    margin-bottom: 50px;
    width: 300px;
    height: 28px;
    color:#373742;
    font-size: 24px;
    font-family: "Rubik-Medium";
    letter-spacing: 0.0px;
}

.right-box .title{
    margin-right: 220px;
    width: 300px;
    height: 24px;
    color:#838383;
    font-size: 20px;
    font-family: "Rubik-Regular";
    letter-spacing: 0.0px;
}