body{
    width:960px;
    background-color:whitesmoke;
    float:right;
    margin-right:200px;
    margin-left: 200px;
  
}

.Table1 {
    width: 50%;
    text-align: left;
    background-color: whitesmoke;
    color:black;
    
    font-family: Arial, Helvetica, sans-serif;


}
.Table2 {
    width:100%;
    padding: 20px 20px;
    margin-top: 20px;
    text-align: center;
    background-color: whitesmoke;
    color:black;
    font-size:12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th{
   /* text-align: left;*/
    background-color:lightgray;
    color:black;
    font-weight: bolder;
}

table,th,td{
    border:2px solid darkgray;
    border-collapse: collapse;
    padding: 5px;
    
}

.Table2 caption{
    text-align: left;
    font-size: 15px;
    padding: 10px;
}

.Table1 caption{
    text-align: left;
    font-size: 15px;
    padding: 10px;
}

hr{
    border: 2px solid grey;
    margin-top: 100px;
}

legend{
    margin:10px 10px;
    padding: 25px;
}
form{
    width: 65%;
    border: 2px ridge darkgray;
    padding: 20px;
    margin-top: 30px;
}



