
/* This is css for session4 assignment.This has Css for shipping information page and a button.*/

body{
    width:800px;
    margin: 50px;
    padding: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
            
}


.border {
border: 1px solid rgba(34,36,38,0.7);
margin-top: 8px;
margin-bottom: 15px;
}


.main{
background-color:#B2DFDB;
font-size: 14px;
border-radius: 5px;
border-style: groove;
width:100%;
padding: 5px;        
}


form{
    padding: 5px;
    margin: 5px;
}

.form-group{
display:inline-block;
min-width: 48.8%;
max-width: 75%;
}


.form-group ::placeholder{
font-weight: normal;
font-size: 14px;
}

.form-group option{
    font-size: 14px;
    font-weight: normal;
}


.form-control input-lg{
   width:80%;
}

.form-group address{
    
    max-width: 80%;
}

#apt_div{

position: absolute;
right:8%;
}


/* style for Button*/

.main-btn{
background-color:#e6e6e6;
font-size: 14px;
border-radius: 5px;
border-style: groove;
width:100%;
padding: 5px; 
margin-top: 25px;

}


#btn{
    background-color: cornflowerblue;
    color:white;
    font-family: 'Roboto';
    font-size: 24px;
    border-radius: 2px;
    height:60px;
    width:350px;
    font-weight: bold;
        
   }