.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 12 px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(128, 128, 128); 
}

.row{
    display: flex;
    justify-content:space-between;
   
}

.container div:not(:last-child){

    border-bottom: 1px solid rgba(0,0,0,.125);
}

.row p , h3{
    padding: 0px 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.row :nth-child(even){
    padding: 4px 7px;
    border-radius: 10rem;
    background-color: #007bff;
    color:#fff;
    /*font-size:75%;*/
    font-weight:bold;
    text-align: justify;
}
    
