
/* This is main container : it contains logo, links and button*/
.container{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-top: 20px;
    align-items: center;
    max-width: 1920px; /* with this width, its going out of the screen for laptop. I am using max-width attribute instead*/
    min-height:110px;
    color: #ffffff;
    box-shadow:  0 3px 10px 0px rgba(0, 0, 0, .5);
    justify-content: flex-start;

}

/*this is again a flex box that contains mission and code two words*/
.logo{
    display:flex;
    font-family: Helvetica;
    font-size: 26px;
    letter-spacing: 0.0px;
    width:151px;
    max-height:31px;
    color: #000000;
   
    
}
.logo .sub_logo{
    color:#820bc6;
}

/*Flex box for Navigation links */
.nav_flex{
    display: flex;
    list-style-type: none;
    width:435px;
    min-height: 38px;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.0px;
    color:#263035;
    justify-content:space-around;
    align-items:center;
    
          
}

.nav_flex li a{
    text-decoration: none;
    color:#263035;
    font-size: 16px;
}

.nav_flex li a:hover{

    color:#820bc6;

}

.sign_in{
    
    width: 150px;
    min-height: 55px;
    border-radius: 5px; /* chnaged to 5 after talkign to Jag*/
    background-color: #820bc6;
    color: #ffffff; /* this is assumed*/
    border:none;
    cursor: pointer;
    margin-left:auto;
    margin-right: 40px;


}


@media  (max-width:600px){
    .container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: none;
        
    }

    .nav_flex{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        
        
    }

    .sign_in{
    
        width: 150px;
        min-height: 55px;
        border-radius: 5px; /* chnaged to 5 after talkign to Jag*/
        background-color: #820bc6;
        color: #ffffff; /* this is assumed*/
        border:none;
        cursor: pointer;
        margin-left: 5px;   
    
    }
}
